exercise_1-2/js/d3.v4.min.js
exercise_3/js/d3.v4.min.js
exercise_4/js/d3.v4.min.js
exercise_5/js/d3.v4.min.js
exercise_6/js/d3.v4.min.js
exercise_7-8/js/d3.v4.min.js
exercise_9/js/d3.v4.min.js
exercise_10/js/d3.v4.min.js
exercise_11/js/d3.v4.min.js
exercise_12/js/d3.v4.min.js
exercise_13/js/d3.v4.min.js
exercise_14/js/d3.v4.min.js
exercise_15/js/d3.v4.min.js
exercise_16/js/d3.v4.min.js
exercise_17/js/d3.v4.min.js
