exercise1-2/js/d3.v4.min.js
exercise3/js/d3.v4.min.js
exercise4/js/d3.v4.min.js
exercise5/js/d3.v4.min.js
exercise6/js/d3.v4.min.js
exercise7-8/js/d3.v4.min.js
exercise9/js/d3.v4.min.js
exercise10/js/d3.v4.min.js
exercise11/js/d3.v4.min.js
exercise12/js/d3.v4.min.js
exercise13/js/d3.v4.min.js
exercise14/js/d3.v4.min.js
exercise15/js/d3.v4.min.js
exercise16/js/d3.v4.min.js
exercise17/js/d3.v4.min.js
